{% extends 'base.html' %}

{% block content %}
    <body>
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
                <h2>This is <span>Bilongo music</span> a Professional musician in Quindio Colombia</h2>
                <p>Blanditiis praesentium aliquam illum tempore incidunt debitis dolorem magni est deserunt sed qui libero. Qui voluptas amet.</p>
                <a href="{% url 'index' %}" class="btn-get-started">Available for hire</a>
              </div>
            </div>
          </div>
        </section><!-- End Hero Section -->
      
        <main id="main" data-aos="fade" data-aos-delay="1500">
            
        </main><!-- End #main -->
{% endblock %}

