{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="{% url 'index' %}" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logo.png' %}" alt="">
        <h1>Bilongo Music</h1>
    </a>

    <nav id="navbar" class="navbar">
        <ul>
        <li><a href="{% url 'index' %}"
        {% if '/' == request.path %}
            class="active"
        {% endif %}
            >Home</a></li>
        <li><a href="{% url 'about' %}"
        {% if 'about' in request.path %}
            class="active"
        {% endif %}
            >Acerca de</a></li>
        <li><a href="{% url 'blogs' %}"
        {% if 'blogs' in request.path %}
            class="active"
        {% endif %}
            >Blogs</a></li>
        <li><a href="{% url 'contact' %}"
        {% if 'contact' in request.path %}
            class="active"
        {% endif %}
            >Contacto</a></li>
        </ul>
    </nav><!-- .navbar -->

    <div class="header-social-links">
        <a href="{% url 'register' %}" class="twitter"><i class="bi bi-person-plus-fill"></i></a>
        <a href="{% url 'login' %}" class="facebook"><i class="bi bi-person-fill-gear"></i></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->